<style>
a {
  font-weight: bold;
	color: red;
}
</style>
<p><strong>Welcome to DiEM25, <%= @resource.name %>!</strong></p>

<p>It really was you who filled out our membership form, right? If so, please confirm it by clicking the link below:</p>

<p><strong style="color:red"><a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"><%= confirmation_url(@resource, confirmation_token: @token) %></a></strong></p>

<p>With that done, here’s a quick reminder of what DiEM25 is all about.</p>

<p><strong>What we’re doing</strong></p>

<p>We formed DiEM25 to reverse Europe’s disintegration and give people a real alternative to the Establishment’s ‘There Is No Alternative’. And while we know we'll have to battle the obstacles they put up, if we work together we can change the status quo.</p>

<p>So we have a huge job ahead of us, and we can’t do it without your support.</p>

<p><strong>How we work</strong></p>

<p>1. The kind of Europe we want is captured in our <a href="http://diem25.org/progressive-agenda-for-europe/" target="_blank">Progressive Agenda for Europe</a>, a set of concrete policy proposals for tackling our common problems in Europe, crowdsourced from our members and experts across the world. If you want to contribute, <a href="http://diem25.org/progressive-agenda-for-europe/" target="_blank">get stuck in</a>! Other policy issues, such as our stance regarding an election, are decided by all-member vote. You will get notified by email the next time a vote happens, presuming you clicked the confirmation link above.</p>

<p>2. DiEM25's local groups are called DSCs (DiEM25 Spontaneous Collectives) because they are completely autonomous in what they do. <a href="https://diem25.org/local-groups-dscs/">Here's</a> a map and a list of these groups. If there is no group in your city, or you want to create a second (or third) group with a different focus, read the <a href="https://diem25.org/volunteer-guidelines/" target="_blank">guidelines</a> and write to <a href="mailto:volunteer@diem25.org">volunteer@diem25.org</a>. By joining or creating a DSC you’ll make great connections with DiEMers and help our ground game!</p>

<p>3. International discussions usually take place in the DiEM25 <a href="https://discuss.diem25.org" target="_blank">forum</a> . Some members also prefer “<a href="https://www.facebook.com/groups/diem25discuss/" target="_blank">DiEM25 Thoughts and Discussions</a>” on Facebook. Many countries and language groups have their own DiEM25 pages and groups on Facebook.</p>

<p>4. To stay up to date on DiEM25 news, other than through the weekly newsletter, we recommend following DiEM25's <a href="https://twitter.com/DiEM_25" target="_blank">Twitter</a> or <a href="https://www.facebook.com/diem25.official.page/" target="_blank">Facebook</a> accounts, and checking the <a href="http://diem25.org/news">News</a> section regularly.</p>

<p>5. For internal information on DiEM25, such as summaries of what the <a href="https://internal.diem25.org/meeting_summaries" target="_blank">Coordinating Collective</a> and the <a href="https://internal.diem25.org/vc/vote_log" target="_blank">Validating Council</a> are planning, how our finances are looking this month, what the <a href="https://internal.diem25.org/pages/budget" target="_blank">budget</a> is and so on, explore the <a href="https://internal.diem25.org/" target="_blank">Members Area</a>.</p>

<p>DiEM25 is your movement – it depends on every member's engagement to build the future Europe deserves. And we’re excited to have you on board!</p>

<p>Carpe DiEM25,</p>


<p><strong><span style="color: red">>></span>DiEM25 Coordinating Collective</strong></p>

<p>PS Would you like to help expand and boost DiEM25’s activities? <a href="https://internal.diem25.org/membership" target="_blank">Make a donation today!</a></p>