<style>
a {
  font-weight: bold;
  color: red;
}
</style>
<p><strong><%= @resource.name %>, benvenuto a DiEM25!</strong></p>

<p>Per favore clicca sul bottone qui sotto per confermare che la tua iscrizione:</p>

<p><strong style="color:red"><a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"><%= confirmation_url(@resource, confirmation_token: @token) %></a></strong></p>

<p>Una volta confermata la tua adesione, ecco un breve riassunto di cos'è DiEM25.</p>

<p><strong>Cosa facciamo</strong></p>

<p>Abbiamo creato DiEM25 per invertire il processo di disintegrazione dell'Europa e fornire alla gente una vera alternativa al "Non c'è alternativa" promosso dall'Establishment. Anche se sappiamo che dovremo abbattere gli ostacoli che costruiranno, se lavoriamo assieme possiamo cambiare los status quo.</p>

<p>C'è veramente tanto lavoro che ci aspetta, e abbiamo bisogno del tuo supporto.</p>

<p><strong>Come lavoriamo</strong></p>

<p>1. L'Europa che vogliamo è riassunta nella nostra <a href="https://diem25.org/agenda-progressista-per-l-europa" target="_blank">Agenda progressista per l'Europa</a>, un insieme di proposte politiche concrete per affrontare i problemi comuni a tutta l'Europa, redatta dai nostri membri e da esperti di tutto il mondo. Se vuoi contribuire, <a href="https://diem25.org/agenda-progressista-per-l-europa" target="_blank">fai tua l'agenda progressista</a>! Altri problemi politici, come la nostra posizione su un'elezione, sono decisi con il voto di tutti i membri. Sarai informato per email quando ci sarà il prossimo voto, se hai confermato la tua iscrizione con il bottone qui sopra.</p>

<p>2. I gruppi locali di Diem25 si chiamano DSC (dall'acronimo inglese DiEM25 Spontaneous Collective) perché sono completamente autonomi nelle loro attività. <a href="https://diem25.org/local-groups-dscs/">In questa pagina</a> trovi una mappa e una lista di questi gruppi. Se non ce n'è uno nella tua città o se vuoi creare un altro gruppo (o un terzo) con un abiettivo diverso, leggi <a href="https://diem25.org/come-fare-volontariato-per-diem25" target="_blank">come fare volontariato per DiEM25</a> e scrivi a <a href="mailto:volunteer@diem25.org">volunteer@diem25.org</a>. Se ti unisci o se crei un DSC, entrerai in contatto con altri DiEMer e ci aiuterai a raggiungere gli obiettivi!</p>

<p>3. Le discussioni internazionali di solito si tengono nel <a href="https://discuss.diem25.org" target="_blank">foro</a> di DiEM25. Alcuni membri preferiscono usare 
<a href="https://www.facebook.com/groups/diem25discuss/" target="_blank">DiEM25 Thoughts and Discussions</a> su Facebook. Diversi paesi e lingue hanno le loro pagine e gruppi di Facebook su DiEM25.</p>

<p>4. Per tenerti aggiornato sulle notizie di DiEM25, oltre al bollettino settimana, ti raccomandiamo di seguire DiEM25 via <a href="https://twitter.com/DiEM_25" target="_blank">Twitter</a> o <a href="https://www.facebook.com/diem25.official.page/" target="_blank">Facebook</a>, oltre a controllare la sezione <a href="http://diem25.org/notizie">notizie</a> regolarmente.</p>

<p>5. Per dettagli interni su DiEM25, come per esempio il riassunto delle attività del <a href="https://internal.diem25.org/meeting_summaries" target="_blank">Collettivo di coordinamento</a> e del <a href="https://internal.diem25.org/vc/vote_log" target="_blank">Consiglio d'approvazione</a>, il nostro piano finanziario di questo mese, qual'è il nostro<a href="https://internal.diem25.org/pages/budget" target="_blank">budget</a> e così via, accedi alla <a href="https://internal.diem25.org/" target="_blank">zona per membri</a>.</p>

<p>DiEM25 è il tuo movimento – costruire il futuro che l'Europa si merita dipende dall'impegno di tutti i membri. Siamo contenti che tu sia con noi!</p>

<p>Carpe DiEM25,</p>


<p><strong><span style="color: red">>></span>Il Collettivo di coordinamento di DiEM25</strong></p>

<p>P.S. Se vuoi aiutarci a promuovere le nostre attività, <a href="https://internal.diem25.org/membership" target="_blank">fai una donazione adesso!</a></p>
