<style>
a {
  font-weight: bold;
	color: red;
}
</style>
<p><strong>Willkommen bei DiEM25, <%= @resource.name %>!</strong></p>

<p>Es ist doch richtig, dass du unser Mitgliedsformular ausgefüllt hast, oder? Wenn ja, dann bestätige das bitte mit einem Klick hier unten:
</p>

<p><strong style="color:red"><a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"><%= confirmation_url(@resource, confirmation_token: @token) %></a></strong></p>

<p>Und außerdem noch eine kurze Merkhilfe, worum es bei DiEM25 geht.</p>

<p><strong>Was wir machen</strong></p>

<p>Wir haben DiEM25 gegründet um den Zerfall Europas aufzuhalten und der Behauptung des Establishments “Es gibt keine Alternative” eine wirkliche Alternative entgegenzusetzen. Wir wissen zwar, dass wir die aufgebauten Hindernisse überwinden müssen, aber mit vereinten Kräften können wir den Status quo ändern.</p>

<p>Wir haben also eine Riesenaufgabe, und wir benötigen deine Unterstützung.</p>

<p><strong>Wie wir arbeiten</strong></p>

<p>1. Wie wir Europa wollen, steht in unserer <a href="https://diem25.org/progressive-agenda-fuer-europa/">Progressiven Agenda für Europa</a>, 
einer Reihe von konkreten politischen Vorschlägen, die unser aller Probleme in Europa lösen sollen, 
gemeinsam erarbeitet von unseren Mitgliedern und internationalen Expert*innen. Wenn du dazu beitragen willst, 
<a href="https://diem25.org/progressive-agenda-fuer-europa/">schließ dich an</a>! 
Unsere politischen Fragen, wie z. B. die Einstellung zu einer Wahl, werden durch die Abstimmung aller Mitglieder entschieden. 
Vor der nächsten Abstimmung wirst du per Email informiert, vorausgesetzt, Du hast die Bestätigung oben angeklickt. 
</p>

<p>2. Die lokalen Gruppen von DiEM25 heißen DSCs (DiEM25 Spontaneous Collectives), weil sie völlig autonom handeln. <a href="https://diem25.org/local-groups-dscs/">Hier</a> findest du eine Karte und eine Liste dieser Gruppen. Wenn es noch keine Gruppe an deinem Ort gibt, oder wenn du eine zweite (oder dritte) Gruppe mit einem unterschiedlichen Schwerpunkt gründen möchtest, lies bitte die <a href="https://diem25.org/richtlinien-fur-diem25-freiwillige/">Richtlinien</a>
und schreibe an <a href="mailto:volunteer@diem25.org">volunteer@diem25.org</a>. Wenn du dich einem DSC anschließt, oder eines gründest, 
verbindest du dich mit anderen DiEMer*innen und stärkst unsere Bewegung!</p>

<p>3. Internationale Diskussionen finden üblicherweise im  DiEM25 <a href="https://diem25.org/forum" target="_blank">Forum</a> statt (separate Anmeldung erforderlich). 
Manche Mitglieder bevorzugen “<a href="https://www.facebook.com/groups/diem25discuss/" target="_blank">DiEM25 Thoughts and Discussions</a>” auf Facebook. Viele Länder- und Sprachgruppen haben ihre eigenen DiEM25 Webseiten oder Gruppen auf Facebook.</p>

<p>4. Wenn du über den wöchentlichen Newsletter hinaus über Neues von DiEM25 informiert bleiben willst, empfehlen wir, 
DiEM25 auf <a href="https://twitter.com/DiEM25_DE">Twitter</a> oder <a href="https://www.facebook.com/diem25.official.page/" target="_blank">Facebook</a> zu folgen und regelmäßig auf <a href="https://diem25.org/neues/">DiEM25 NEUES</a> zu gehen. Die <a href="https://diem25.org/news/">englischsprachige Version</a> wird öfter aktualisiert.</p>

<p>5. Für interne Informationen zu DiEM25, wie <a href="https://internal.diem25.org/meeting_summaries" target="_blank">Kurzberichten des Koordinierungskolletivs</a> und des <a href="https://internal.diem25.org/vc/vote_log" target="_blank">Beschlussfassenden Gremiums</a>, dem monatlichen Finanzstatus, dem <a href="https://internal.diem25.org/pages/budget" target="_blank">Haushaltsplan</a> etc., sieh dich im <a href="https://internal.diem25.org">Mitgliederbereich</a> um.  </p>

<p>DiEM25 ist  deine Bewegung – die Zukunft Europas hängt ab vom Engagement jedes Mitglieds, sich an ihrer Gestaltung zu beteiligen. Und wir sind begeistert, dass auch du an Bord gekommen bist!
</p>

<p>Carpe DiEM25,</p>


<p><strong><span style="color: red">>></span>DiEM25 Koordinierungskollektiv</strong></p>

<p>PS Möchtest du mithelfen, die Aktivitäten von DiEM25’s zu fördern und zu verstärken? <a href="https://internal.diem25.org/membership" target="_blank">Hier</a> entscheidest du über deinen freiwilligen Mitgliedsbeitrag!</p>