<style>
a {
  font-weight: bold;
	color: red;
}
</style>
<p><strong>Bem-vindo ao DiEM25, <%= @resource.name %>!</strong></p>

<p>Foste mesmo tu que preencheste a ficha de inscrição para te tornares membro, certo? Se sim, clica no link abaixo:  </p>

<p><strong style="color:red"><a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"><%= confirmation_url(@resource, confirmation_token: @token) %></a></strong></p>

<p>Com isto feito, segue agora uma breve lembrança sobre o que é o DiEM25 </p>

<p><strong>O que estamos a fazer</strong></p>

<p>Formámos o DiEM25 para impedir a desintegração da UE e para dar uma verdadeira opção diferente do “ There is No Alternative” do establishment. Sabemos que temos de trabalhar arduamente os obstáculos mas se trabalharmos juntos mudamos o status quo.</p>

<p>Temos imenso trabalho pela frente e não podemos fazê-lo sem o teu apoio.</p>

<p><strong>Como trabalhamos</strong></p>

<p>1. O tipo de Europa que procuramos pode ser compreendido através na nossa <a href="https://diem25.org/agenda-progressista-para-a-europa/">Agenda Progressista para a Europa</a>, várias propostas de políticas concretas que se propõe a resolver os nossos problemas comuns na Europa trabalhadas por todos os nossos membros e especialistas de todo o mundo. Se queres contribuir, junta-te! Outros assuntos políticos como a nossa posição quanto a eleições são decididas por todos os membros em votações internas. Serás notificado/a por email a próxima vez que houver votações assumindo, claro, que clicaste no botão de confirmação do link acima. </p>

<p>2. Os grupos locais do DiEM25's são chamados CEDs (Coletivos Espontâneos DiEM25) porque são completamente autónomos naquilo que fazem. Há uma mapa e uma lista dos grupos aqui: <a href="https://diem25.org/local-groups-dscs/">https://diem25.org/local-groups-dscs/</a> . Se não há nenhum grupo na tua cidade ou queres criar um segundo ou terceiro grupo com um foco diferente lê as <a href="https://diem25.org/orientacoes-para-voluntarios/">orientações para voluntários</a> e escreve para <a href="mailto:gruposlocais@diem25.org">gruposlocais@diem25.org</a> para o registar. Ao juntares-te ou criares um CED farás grandes ligações com outros membros do DiEM e ajudas na nossa batalha!</p>

<p>3. As discussões internacionais geralmente ocorrem no fórum do DiEM25 em <a href="https://discuss.diem25.org" target="_blank">forum</a> . Alguns membros também participam no “<a href="https://www.facebook.com/groups/diem25discuss/" target="_blank">DiEM25 Thoughts and Discussions</a>” no Facebook. Muitos países e grupos linguísticos têm as suas próprias páginas do DiEM25 e grupos no Facebook. </p>

<p>4. Para te manteres ao corrente das notícias do DiEM25, para além da newsletter semanal, recomendamos que sigas o <a href="https://twitter.com/DiEM_25" target="_blank">Twitter</a> do DiEM25 ou contas no <a href="https://www.facebook.com/diem25.official.page/" target="_blank">facebook</a> e ainda também a secção de <a href="https://diem25.org/noticias-2/">notícias</a> do DiEM25 com regularidade.</p>

<p>Para informação interna quanto ao DiEM25, nomeadamente sumários do que planeia o Coletivo Coordenador e o Conselho de Validação ou como estão as nossas finanças num determinado mês, explora a área de membros em <a href="https://internal.diem25.org">https://internal.diem25.org</a> .</p>

<p>O DiEM25 é o nosso movimento – depende do envolvimento de cada membro construir o futuro que a Europa merece. Estamos entusiasmados por te ter connosco! </p>

<p>Carpe DiEM25,</p>


<p><strong><span style="color: red">>></span>DiEM25 Coletivo Coordenador</strong></p>

<p>PS Queres ajudar a expandir as atividades do DiEM25’s? <a href="https://internal.diem25.org/membership" target="_blank">Faz o teu donativo</a> hoje!</p>