<style>
a {
  font-weight: bold;
	color: red;
}
</style>
<p><strong>Bienvenue à DiEM25, <%= @resource.name %>!</strong></p>

<p>C’est bien vous qui venez de remplir le formulaire d’adhésion, n’est-ce pas ? Si oui, veuillez le confirmer en cliquant sur le lien ci-dessous :</p>

<p><strong style="color:red"><a href="<%= confirmation_url(@resource, confirmation_token: @token) %>"><%= confirmation_url(@resource, confirmation_token: @token) %></a></strong></p>

<p>Maintenant que c’est chose faite, voici un court rappel de ce qu’est DiEM25.</p>

<p><strong>Ce que nous faisons</strong></p>

<p>Nous avons constitué DiEM25 pour inverser la désintégration de l’Europe et donner aux gens une véritable alternative à l’Establishment ‘Il n’y a pas d’alternatives’. Et bien que nous savons que nous aurons à combattre les obstacles qu’ils vont dresser, si nous travaillons ensemble nous pouvons changer le statu quo. 
</p>

<p>Donc nous avons du pain sur la planche, et nous ne pourrons avancer sans votre soutient.</p>

<p><strong>Comment nous travaillons</strong></p>

<p>1. Le type d’Europe que nous voulons est illustré par notre <a href="https://diem25.org/programme-progressiste-pour-leurope/" target="_blank">Agenda Progressiste pour l’Europe</a>, 
un ensemble propositions politiques concrètes afin de s’attaquer à nos problèmes communs en Europe, produits de manière collaborative par nos membres et nos experts du monde entier. Si vous voulez y contribuer, 
<a href="https://diem25.org/programme-progressiste-pour-leurope/" target="_blank">attelez-vous y</a>! D’autres sujets importants, tels que notre position au sujet d’une élection, sont décidés par le vote de tous les membres. Vous serez mis au courant par e-mail la prochaine fois qu’un vote aura lieu, en supposant que vous ayez cliqué sur le lien de confirmation ci-dessus.</p>

<p>2. Les groupes locaux de DiEM25 s’appellent les DSCs (Les Collectifs Spontanés DiEM25) parce qu’ils sont complètement autonomes 
quant à ce qu’ils font. Voici une carte et une liste de ces groupes: https://diem25.org/local-groups-dscs/ . S’il n’y a pas de groupe dans notre ville, ou si vous voulez en créer un second (ou un troisième) ayant un objectif différent, vous pouvez lire les instructions et écrire à <a href="mailto:volunteer@diem25.org">volunteer@diem25.org</a>. En rejoignant ou en créant un CSD vous pourrez vous lier à des DIEMistes et aider notre terrain de base !
</p>

<p>3. Les discussions internationales ont généralement lieu sur <a href="https://discuss.diem25.org">le forum de DiEM25</a> . Certains membres préfèrent “Activistes de DiEM25 en France ou francophones” ou “DiEM25 Thoughts and Discussions” sur Facebook. 
</p>

<p>4. Pour rester informé des actualités de DiEM25, d’une autre manière que via la lettre d’information hebdomadaire, nous vous recommandons d’aller sur les comptes <a href="https://twitter.com/DiEM25_FR" target="_blank">Twitter</a> ou <a href="https://www.facebook.com/DiEM25France/" target="_blank">Facebook</a> de DiEM25, et de parcourir régulièrement la <a href="https://diem25.org/news-fr/">Section News</a>.
</p>

<p>5. En ce qui concerne les actualités internes de DiEM25, comme les résumés de ce que le Collectif de Coordination et le Conseil de Validation prévoient, ce à quoi nos finances ressemblent ce mois-ci, quel est le budget etc., explorez la <a href="https://internal.diem25.org">Plateforme des Membres</a>.
</p>

<p>DiEM25 est <i>votre</i> mouvement – il dépend de l’engagement de chaque membre de construire le futur que l’Europe mérite. Et nous sommes ravis de vous avoir à bord!</p>

Carpe DiEM25,

<p><strong><span style="color: red">>></span>Le Collectif Coordination de DiEM25</strong></p>

<p>PS: Vous voudriez aider à enrichir et à intensifier les activités de DiEM25 ? <a href="https://internal.diem25.org/membership" target="_blank">Faites une donation</a> aujourd’hui !</p>
