<p>Dobrý den <%= @resource.name %>!</p>

<p>Byl zaregistrován požadavek na změnu přístupového hesla k Vašemu internímu účtu DiEM25. Tuto změnu můžete provést prostřednictvím následujícího odkazu.</p>

<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Pokud jste o změnu hesla nežádali, prosím ignorujte tento e-mail.</p>
<p>Vaše heslo nebude změněno, pokud se nepřihlásíte na následující odkaz a nevytvoříte si nové.</p>

<p>Carpe DiEM!</p>
