<p>¡Hola, <%= @resource.name %>!</p>

<p>Alguien ha solicitado un enlace para cambiar tu contraseña en DiEM25-Interno. Puedes hacerlo con el enlace de abajo.</p>

<p><%= link_to 'Cambiar mi contraseña', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Si no lo has solicitado tú, por favor, ignora este correo electrónico.</p>
<p>Tu contraseña no cambiará hasta que accedas al enlace de arriba y crees una nueva.</p>

<p>¡Carpe DiEM!</p>
