<p>Ciao <%= @resource.name %>!</p>

<p>Abbiamo ricevuto la richiesta di un link per la modifica della tua password; puoi modificare la password utilizzando il seguente link.</p>

<p><%= link_to 'Modifica della mia password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se non hai richiesto di cambiare la password, ti preghiamo di ignorare questa email.</p>
<p>La password non cambierà a meno che tu non acceda al link qui sopra per crearne una nuova.</p>

<p>Carpe DiEM!</p>
