<p>Γεια <%= @resource.name %>!</p>

<p>Κάποιος έχει ζητήσει έναν σύνδεσμο για να αλλάξετε τον κωδικό σας στο εσωτερικό δίκτυο DiEM25. Μπορείτε να το κάνετε ακολουθώντας τον παρακάτω σύνδεσμο.</p>

<p><%= link_to 'Αλλαγή κωδικού', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Εάν δεν ζητήσατε εσείς κάτι τέτοιο, παρακαλούμε αγνοήστε αυτό το μήνυμα.</p>
<p>Ο κωδικός σας δεν θα αλλάξει μέχρι να χρησμοποιήσετε τον παραπάνω σύνδεσμο και να δημιουργήσετε νέο κωδικό.</p>

<p>Carpe DiEM!</p>
