<p>Olá <%= @resource.name %>!</p>

<p>Alguém pediu um link para alterar a sua palavra-chave para o DiEM25-interno. Podera fazê-lo através do link abaixo.</p>

<p><%= edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Se não solicitou isso, por favor, ignore este e-mail.</p>
<p>A sua palavra-chave não mudará até que acesse o link aqui em cima e crie uma nova.</p>

<p>Carpe DiEM!</p>
