<p>Hello <%= @resource.name %>!</p>

<p>Someone has requested a link to change your password for DiEM25-Internal. You can do this through the link below.</p>

<p>Note that this is a <b>one-time link</b>: as soon as you click on it, you cannot use it again. It also automatically
expires after a certain amount of time after you have requested it. If you get the "Token Invalid" error message
on the site, that means that the link was already used or expired. You then have to request a new email to
reset your password.</p>

<p><%= link_to 'Change my password', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>If you didn't request this, please ignore this email.</p>
<p>Your password won't change until you access the link above and create a new one.</p>

<p>For any questions, just reply to this email.</p>

<p>Carpe DiEM!</p>
