<p>Hallo <%= @resource.name %>!</p>

<p>Jemand (Sie wahrscheinlich) hat einen Link beantragt, um sein Passwort für den internen Bereich für DiEM25-Mitglieder ändern zu können. 
Dies können Sie über den Link unten tun.</p>

<p><%= link_to 'Mein Passwort ändern', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Falls Sie dies nicht veranlasst haben, ignorieren Sie bitte diese Email.</p>
<p>Ihr Passwort wird nicht geändert bis Sie den obenstehenden Link öffnen und ein neues Passwort gesetzt haben.</p>

<p>Bei Rückfragen antworten Sie einfach auf diese Email.</p>

<p>Carpe DiEM!</p>
