<p>Hallo <%= @resource.name %>!</p>

<p>Iemand (waarschijnlijk u) heeft om een link verzocht waarmee uw wachtwoord kan worden gewijzigd. U kunt dit doen via de onderstaande link.</p>

<p><%= link_to 'Wachtwoord wijzigen', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>Als dit verzoek niet van u kwam, dan kunt u dit bericht negeren.</p>
<p>Uw wachtwoord zal niet gewijzigd worden totdat u op de bovenstaande link klikt en een nieuw wachtwoord instelt.</p>

<p>Carpe DiEM!</p>
