<p>Bonjour <%= @resource.name %> !</p>

<p>Votre compte DiEM25-interne a été verrouillé en raison d’un nombre excessif de tentatives de connexion infructueuses.</p>

<p>Suivez ce lien pour débloquer votre compte:</p>

<p><%= unlock_url(@resource, unlock_token: @token) %></p>

<p>Carpe DiEM !</p>