<p>Γεια <%= @resource.name %>!</p>

<p>Ο λογαριασμός σας στο εσωτερικό δίκτυο DiEM25 έχει απενεργοποιηθεί λόγω πολλών αποτυχημένων προσπαθειών σύνδεσης.</p>

<p>Πατήστε τον παρακάτω σύνδεσμο για να ξεκλειδώσετε τον λογαριασμό σας:</p>

<p><%= link_to 'Ξεκλειδώσετε τον λογαριασμό', unlock_url(@resource, unlock_token: @token) %></p>

<p>Carpe DiEM!</p>