<footer id="footer" class="footer-wrap">
                    <div class="bottom">
                <div class="container">
                    <div class="bottom-wrap clearfix">
                        <div class="col-sm-6 col-md-3 bottom-widget clearfix"><div id="themeum_about_widget-2" class="widget widget_themeum_about_widget"><img src="https://diem25.org/wp-content/uploads/2016/02/logo_white.svg" class="img-responsive" alt=""><div class="about-desc">Democratise Europe!<br>
The EU will either be democratised or it will disintegrate!</div>	
			<ul class="themeum-about-info">
									<li><span>Email: </span>info@diem25.org</li>
								

								

								
		
			</ul>

		</div></div><div class="col-sm-6 col-md-3 bottom-widget clearfix"><p class="about-desc">
		  <%= link_to t('general.privacy_policy'), "https://www.iubenda.com/privacy-policy/" + PRIVACY_POLICY_CODE[I18n.locale], style: "color: #fff;" %>
		</p>
		</div><div class="col-sm-6 col-md-3 bottom-widget clearfix"><div id="themeum_social_share_widget-2" class="widget widget_themeum_social_share_widget"><h3 class="widget_title">Social</h3>	
			<ul class="themeum-social-share">
									<li><a class="facebook" href="https://www.facebook.com/diem25.official.page/" target="_blank"><i class="fa fa-facebook"></i>Facebook </a></li>
								

									<li><a class="twitter" href="https://twitter.com/diem_25" target="_blank"><i class="fa fa-twitter"></i>Twitter </a></li>
								

									<li><a class="g-plus" href="https://plus.google.com/+Diem25orgOfficial" target="_blank"><i class="fa fa-google-plus"></i>Google Plus </a></li>
								

									

							

								

										

									<li><a class="delicious" href="https://www.instagram.com/diem25.official/" target="_blank"><i class="fa fa-instagram"></i>Instagram </a></li>
								

								

								

				
							</ul>

		</div></div><div class="col-sm-6 col-md-3 bottom-widget clearfix"><div id="text-2" class="widget widget_text"><h3 class="widget_title">DiEM YouTube Channel</h3>			<div class="textwidget"><a href="https://www.youtube.com/channel/UCnMk-6Brd8rVEKWSWkwsWUg" target="_blank">
    <%= image_tag "YouTubeChannel.svg", class: "alignnone size-medium wp-image-1637", alt: "CC-by-nc-sa", width: 50, height: 1 %></a></div>
		</div></div><div class="col-sm-6 col-md-3 bottom-widget clearfix"><div id="text-3" class="widget widget_text">			<div class="textwidget">DiEM25 Anthem: <br>
Stochastic Processional (DiEM)
<br>Composed &amp; Recorded by Brian Eno 
<br>℗ &amp; © Opal Ltd., London (2016)</div>
		</div></div>
                    </div>
                </div>
            </div><!--/#footer-->
                <div class="footer-wrap-inner">
            <div class="container">
                   
                    <div class="copyright">
                        <div class="row">
                            <table>
<tbody>
<tr>
<td><a href="https://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank"><%= image_tag "by-nc-sa.eu_.svg", class: "alignnone size-medium wp-image-1253", alt: "CC-by-nc-sa" %></a> DiEM25 | This&nbsp;site is licensed to the public under a Creative Commons Attribution 4.0 license.</td>
</tr>
<tr><td>Legally responsible: <a href="mailto:info@diem25.org">Democracy in Europe Movement 2025 AISBL</a>, Maison des Associations Internationales, 40 Rue Washington, 1050 Brussels, Belgium</td>
</tr>
</tbody>
</table>                        </div> <!-- end row -->
                    </div>
                 
            </div> <!-- end container -->
        </div> <!-- end footer-wrap-inner -->
    </footer>