<div class="header2">
      <div class="newedge-topbar">
        <div class="container">
            <div class="row1">
                <div class="col-sm-4">
                    <div class="navbar-header">
                        <div class="logo-wrapper">
                           <a class="newedge-navbar-brand" href="https://diem25.org/home-de/">
                                                                                <img class="enter-logo img-responsive" src="https://diem25.org/wp-content/uploads/2016/02/logo_regular.svg" alt="Logo" title="Logo">
                                                                         </a>
                        </div>     
                    </div>    
                </div>
                <div class="col-sm-8">
                                        <a href="https://you.wemove.eu/campaigns/transparency?utm_source=member" target="_blank"><img class="ads-logo img-responsive" src="https://diem25.org/wp-content/uploads/2016/03/Banner-Transparency-in-Europe-Now-Petition-30.03.2016.svg" alt="" title=""></a>
                                  </div>
            </div><!--/.row--> 
        </div><!--/.container--> 
      </div> <!--/.newedge-topbar--> 

      <header id="masthead" class="site-header header">
        <div id="header-container">
          <div id="navigation" class="container">
              <div class="row">
                  <div class="col-sm-12 woo-menu-item-add">
                  
                  

                    

                    <div id="main-menu">
<ul id="menu-main_menu_de" class="clearfix top_menu_items nav"><li id="menu-item-16593" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16593"><a href="#">Über DiEM25</a>
<ul class="sub-menu">
<li id="menu-item-16594" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16594"><a href="https://diem25.org/was-ist-diem25/">Was ist DiEM25?</a></li>
<li id="menu-item-16595" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16595"><a href="https://diem25.org/manifesto-lange-version/">Manifesto</a></li>
<li id="menu-item-16596" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16596"><a href="https://diem25.org/organisationsgrundlagen/">Organisationsgrundlagen</a></li>
<li id="menu-item-16597" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16597"><a href="https://diem25.org/cc/">Koordinierungskollektiv</a></li>
<li id="menu-item-16598" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16598"><a href="https://diem25.org/ap/">Beratender Ausschuss</a></li>
<li id="menu-item-16599" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16599"><a href="https://internal.diem25.org/de/vc/view">Beschlussfassendes Gremium</a></li>
<li id="menu-item-16600" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16600"><a href="https://diem25.org/national-collectives/">Nationale Kollektive</a></li>
<li id="menu-item-16601" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16601"><a href="https://internal.diem25.org/members?locale=de">Mitglieder</a></li>
<li id="menu-item-16602" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16602"><a href="https://diem25.org/ein-jahr-ist-vorueber/">Erster Jahrestag</a></li>
<li id="menu-item-16603" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16603"><a href="https://diem25.org/two-year-anniversary/">Zweiter Jahrestag</a></li>
</ul>
</li>
<li id="menu-item-16604" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16604"><a href="#">Neues</a>
<ul class="sub-menu">
<li id="menu-item-16605" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16605"><a href="https://diem25.org/neues/">Unsere Artikel</a></li>
<li id="menu-item-16606" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16606"><a href="https://diem25.org/dsc-news-de/">Lokalgruppen-News</a></li>
<li id="menu-item-16607" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-16607"><a href="https://diem25.org/videos-de/">Unsere Videos</a></li>
<li id="menu-item-20886" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-20886"><a href="https://internal.diem25.org/de/events">Kalendar</a></li>
</ul>
</li>
<li id="menu-item-16609" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16609"><a href="#">Kampagnen</a>
<ul class="sub-menu">
<li id="menu-item-16610" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16610"><a href="https://diem25.org/progressive-agenda-fuer-europa/">Progressive Agenda für Europa</a></li>
<li id="menu-item-16611" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16611"><a href="https://diem25.org/1-kampagne-transparenz/">Transparenz</a></li>
<li id="menu-item-16612" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16612"><a href="https://diem25.org/2-kampagne-fluchtlinge/">Flüchtlinge</a></li>
<li id="menu-item-16613" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16613"><a href="https://diem25.org/3-kampagne-eu-referendum-in-grosbritannien/">EU-Referendum</a></li>
<li id="menu-item-16614" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16614"><a href="https://diem25.org/stopthedeal-de">#StopTheDeal</a></li>
</ul>
</li>
<li id="menu-item-16628" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16628"><a href="https://diem25.org/press">Presse</a></li>
<li id="menu-item-16619" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children menu-item-16619"><a href="#">Mitmachen</a>
<ul class="sub-menu">
<li id="menu-item-16620" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16620"><a href="https://internal.diem25.org/de/users/sign_up">Beitreten</a></li>
<li id="menu-item-16621" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16621"><a href="https://diem25.org/donate">Spenden</a></li>
<li id="menu-item-16622" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16622"><a href="https://diem25.org/freiwillig-fur-diem25-vor-ort/">Freiwillige</a></li>
<li id="menu-item-16623" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16623"><a href="https://diem25.org/wp-content/uploads/2016/09/160920_DiEM25_PolicyPapers_protocol_DE.pdf">Agenda mitentwickeln</a></li>
<li id="menu-item-16624" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16624"><a href="https://internal.diem25.org/de/dscs/view">Lokalgruppen / DSCs</a></li>
<li id="menu-item-16625" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16625"><a href="https://diem25.org/thematic-dscs/">Thematische DSCs</a></li>
<li id="menu-item-16626" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16626"><a target="_blank" href="https://discuss.diem25.org/">Forum</a></li>
<li id="menu-item-16627" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-16627"><a href="https://internal.diem25.org/?locale=de">Mitgliederbereich</a></li>
</ul>
</li>
<li class=" menu-item menu-item-type-custom menu-item-object-custom menu-item-has-children has-menu-child"><a href="#"><i class="_mi _before elusive el-icon-globe" aria-hidden="true" style="font-size:2em;"></i><span><%= LANGUAGE_NAME[I18n.locale] %></span></a>
  <ul role="menu" class="sub-menu">
    <% LANGUAGE_NAME.each do |code, name| %>
      <li class="lang-item lang-item-<%= code %> no-translation menu-item menu-item-type-custom menu-item-object-custom has-menu-child"><%= link_to name, :locale => code %></li>
    <% end %>
  </ul>
</li>
</ul>
                      </div><!--/#main-menu--> 
                  </div>  
              </div><!--/.row--> 
          </div><!--/.container--> 
        </div>
      </header><!--/#header-->
      
    </div><!--/.header1-->
