<div style="height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
		
		<span class="m_-1235138426535761881mcnPreviewText" style="display:none;font-size:0px;line-height:0px;max-height:0px;max-width:0px;opacity:0;overflow:hidden"><%= @preview %></span>
		
        <center>
            <table align="center" border="0" cellpadding="0" cellspacing="0" height="100%" width="100%" id="m_-1235138426535761881bodyTable" style="border-collapse:collapse;height:100%;margin:0;padding:0;width:100%;background-color:#fafafa">
                <tbody><tr>
                    <td align="center" valign="top" id="m_-1235138426535761881bodyCell" style="height:100%;margin:0;padding:10px;width:100%;border-top:0">
                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881templateContainer" style="border-collapse:collapse;border:0;max-width:600px!important">
                            <tbody>
														<% if @head_image != "none" %>
                            <tr>
                                <td valign="top" id="m_-1235138426535761881templateHeader" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:0"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-1235138426535761881mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-1235138426535761881mcnTextBlockInner" style="padding-top:9px">
              	
			
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-1235138426535761881mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-1235138426535761881mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#202020;font-family:Helvetica;font-size:16px;line-height:150%;text-align:left">

                            <center>
														<% if not @head_image.blank? and @head_image != "none" %>
														  <a href="https://diem25.org" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank">
                                <img alt="DiEM25" src="<%= @head_image %>" style="border:0px;width:100%;margin:0px;margin-bottom: -20px;outline:none;text-decoration:none" class="CToWUd">
                              </a> 
														<% else %>
														  <a href="https://diem25.org" style="color:#2baadf;font-weight:normal;text-decoration:underline" target="_blank"><img alt="DiEM25" height="51" src="https://diem25.org/wp-content/uploads/2017/08/logo_for_mail.png" style="border:0px;width:250px;height:51px;margin:0px;outline:none;text-decoration:none" width="250" class="CToWUd"></a>
														<% end %>
														
														</center>
                        </td>
                    </tr>
                </tbody></table>
				

				
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
														<% end %>
                            <tr>
                                <td valign="top" id="m_-1235138426535761881templateBody" style="background:#ffffff none no-repeat center/cover;background-color:#ffffff;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:2px solid #eaeaea;padding-top:0;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-1235138426535761881mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-1235138426535761881mcnTextBlockInner" style="padding-top:9px">
              	
			
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-1235138426535761881mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-1235138426535761881mcnTextContent" style="padding:0px 18px 9px;line-height:150%;word-break:break-word;color:#202020;font-family:'Lato','Helvetica Neue',Helvetica,Arial,sans-serif;font-size:16px;text-align:left">

                            <%= yield %>
                        </td>
                    </tr>
                </tbody></table>
				

				
            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnFollowBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-1235138426535761881mcnFollowBlockOuter">
        <tr>
            <td align="center" valign="top" style="padding:9px" class="m_-1235138426535761881mcnFollowBlockInner">
                <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnFollowContentContainer" style="min-width:100%;border-collapse:collapse">
    <tbody><tr>
        <td align="center" style="padding-left:9px;padding-right:9px">
            <table border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-collapse:collapse" class="m_-1235138426535761881mcnFollowContent">
                <tbody><tr>
                    <td align="center" valign="top" style="padding-top:9px;padding-right:9px;padding-left:9px">
                        <table align="center" border="0" cellpadding="0" cellspacing="0" style="border-collapse:collapse">
                            <tbody><tr>
                                <td align="center" valign="top">
                                    

                                        


                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_-1235138426535761881mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>

                                                                                <td align="center" valign="middle" width="24" class="m_-1235138426535761881mcnFollowIconContent">
                                                                                    <a href="https://www.facebook.com/diem25.official.page" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-facebook-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>


                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>

                                        

                                        


                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:10px;padding-bottom:9px" class="m_-1235138426535761881mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>

                                                                                <td align="center" valign="middle" width="24" class="m_-1235138426535761881mcnFollowIconContent">
                                                                                    <a href="https://twitter.com/DiEM_25" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-twitter-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>


                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>

                                        

                                        


                                            <table align="left" border="0" cellpadding="0" cellspacing="0" style="display:inline;border-collapse:collapse">
                                                <tbody><tr>
                                                    <td valign="top" style="padding-right:0;padding-bottom:9px" class="m_-1235138426535761881mcnFollowContentItemContainer">
                                                        <table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnFollowContentItem" style="border-collapse:collapse">
                                                            <tbody><tr>
                                                                <td align="left" valign="middle" style="padding-top:5px;padding-right:10px;padding-bottom:5px;padding-left:9px">
                                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" width="" style="border-collapse:collapse">
                                                                        <tbody><tr>

                                                                                <td align="center" valign="middle" width="24" class="m_-1235138426535761881mcnFollowIconContent">
                                                                                    <a href="https://diem25.org" target="_blank"><img src="https://cdn-images.mailchimp.com/icons/social-block-v2/color-link-48.png" style="display:block;border:0;height:auto;outline:none;text-decoration:none" height="24" width="24" class="CToWUd"></a>
                                                                                </td>


                                                                        </tr>
                                                                    </tbody></table>
                                                                </td>
                                                            </tr>
                                                        </tbody></table>
                                                    </td>
                                                </tr>
                                            </tbody></table>

                                        

                                    
                                </td>
                            </tr>
                        </tbody></table>
                    </td>
                </tr>
            </tbody></table>
        </td>
    </tr>
</tbody></table>

            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                            <tr>
                                <td valign="top" id="m_-1235138426535761881templateFooter" style="background:#fafafa none no-repeat center/cover;background-color:#fafafa;background-image:none;background-repeat:no-repeat;background-position:center;background-size:cover;border-top:0;border-bottom:0;padding-top:9px;padding-bottom:9px"><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnDividerBlock" style="min-width:100%;border-collapse:collapse;table-layout:fixed!important">
    <tbody class="m_-1235138426535761881mcnDividerBlockOuter">
        <tr>
            <td class="m_-1235138426535761881mcnDividerBlockInner" style="min-width:100%;padding:10px 18px 25px">
                <table class="m_-1235138426535761881mcnDividerContent" border="0" cellpadding="0" cellspacing="0" width="100%" style="min-width:100%;border-top:2px solid #eeeeee;border-collapse:collapse">
                    <tbody><tr>
                        <td>
                            <span></span>
                        </td>
                    </tr>
                </tbody></table>

            </td>
        </tr>
    </tbody>
</table><table border="0" cellpadding="0" cellspacing="0" width="100%" class="m_-1235138426535761881mcnTextBlock" style="min-width:100%;border-collapse:collapse">
    <tbody class="m_-1235138426535761881mcnTextBlockOuter">
        <tr>
            <td valign="top" class="m_-1235138426535761881mcnTextBlockInner" style="padding-top:9px">
              	
			
				
                <table align="left" border="0" cellpadding="0" cellspacing="0" style="max-width:100%;min-width:100%;border-collapse:collapse" width="100%" class="m_-1235138426535761881mcnTextContentContainer">
                    <tbody><tr>

                        <td valign="top" class="m_-1235138426535761881mcnTextContent" style="padding-top:0;padding-right:18px;padding-bottom:9px;padding-left:18px;word-break:break-word;color:#656565;font-family:Helvetica;font-size:12px;line-height:150%;text-align:center">


<em>Copyright © <%= Date.today.year %> Democracy in Europe Movement 2025 (DiEM25), All rights reserved.</em><br>
 You are receiving this email because you signed up at DiEM25.org<br>
<br>
<strong>Our mailing address is:</strong><br>
<div class="m_-1235138426535761881vcard"><span class="m_-1235138426535761881org m_-1235138426535761881fn">Democracy in Europe Movement 2025 (DiEM25)</span><div class="m_-1235138426535761881adr"><div class="m_-1235138426535761881street-address">40 rue Washington</div><span class="m_-1235138426535761881locality">Bruxelles-Ixelles</span> <span class="m_-1235138426535761881postal-code">1050</span> <div class="m_-1235138426535761881country-name">Belgium</div></div><br>
<a href="http://diem25.us10.list-manage.com/vcard?u=06ed765fa2e2171473ae3c592&amp;id=95866fa3b2" class="m_-1235138426535761881hcard-download" target="_blank">Add us to your address book</a></div>
<br>
<br>
Want to change how you receive these emails?<br>
You can <a href="https://internal.diem25.org/users/edit" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank">update your preferences</a> or <a href="https://internal.diem25.org/users/edit#leave" style="color:#656565;font-weight:normal;text-decoration:underline" target="_blank">leave DiEM25</a><br>
<br>
                        </td>
                    </tr>
                </tbody></table>
				

				
            </td>
        </tr>
    </tbody>
</table></td>
                            </tr>
                        </tbody></table>
						
                        
                    </td>
                </tr>
            </tbody></table>
        </center>
   </div>
	 
<style>.btn {
background:    #ff0000;
border:        1px solid #000000;
border-radius: 5px;
padding:       8px 20px;
color:         #ffffff;
display:       inline-block;
font:          normal 700 24px/1 "Ubuntu", sans-serif;
text-align:    center;
text-shadow:   1px 1px #000000;
text-decoration: none;
}
p, li {
  margin-bottom: 20px;
}
</style>